<!DOCTYPE html>
<html lang="bg">
  <head>
    <meta charset="UTF-8" />
    <title>Вход</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <form method="POST" action="/login" id="login_form">
      <h3>Вход</h3>
      <input type="email" name="email" placeholder="Имейл" required />
      <input type="password" name="password" placeholder="Парола" required />
      <button type="submit">Вход</button>
      <p>Нямаш акаунт? <a href="register.ejs">Регистрация</a></p>
    </form>
  </body>
</html>
